.customersInfoTable {
    padding: 2vw;
    overflow: hidden;
   }

.customersInfoTable thead tr {
    /* position: sticky;
    top: 10px; */
    background-color: white;
}

.customersInfoTable thead th {
    padding-bottom: 20px;
    color: gray;
}

.customersInfoTable tbody tr {
    border-top: 1px solid gray;
}

.customersInfoTable tbody td {
    padding: 2px;
}