.tableContainer {
    width: 800px;
    overflow-x: scroll;
    margin: auto;
    overflow-y: scroll;
    height: 80vw;
}

.customersInfoTable {
    /* height: 100%; */
    width: 100%;
    padding: 2vw;
    /* table-layout: fixed; */
    border-collapse: collapse;
    overflow: hidden;

}

.customersInfoTable thead tr {
    position: sticky;
    top: 0;
    background-color: white;
}

.customersInfoTable thead th {
    padding-bottom: 20px;
    color: gray;
    text-align: left;
}

.customersInfoTable tbody tr {
    border-top: 1px solid gray;
}

.customersInfoTable tbody tr:hover {
    border-top: 1px solid gray;
    background-color: #B9F8CF;
}

.customersInfoTable tbody td {
    padding: 2px;

}